.login{

    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &-input-area{
        display: flex;
        flex-direction: column;
        width: 400px;

        > * {
            margin-top: 10px;
        }

        > p{
            font-family: 'Merienda One';
            font-size: 25px;
            font-weight: 500;
        }

        .nav-item{
            margin-top: 10px;
            padding: 0;
            display: flex;
            justify-content: center;

            a{
                margin: 0;
            }
        }


    }
    
}

