

.alert{
    position: absolute !important;
}

.alertAnim{
    opacity: 1;
    // transform: translateY(100px);
    // transition: all 1s ease !important;
}

.register {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

    > p{
        font-family: 'Merienda One';
        font-size: 25px;
        font-weight: 500;
        width: 400px;
    }


    &-input-area{

        border: 1px solid #6c757d9f;
        border-radius: 3px;
        padding: 20px;
        
        .form-group{
            width: 400px;
        }

        .btn {
            width: 100%;
        }

        a{
            font-size: 14px;
            opacity: 0.9;
            text-align: center;
        }
        
    }
}

@keyframes showAlert{
    from{
        transform: translateY(50px);
    }

    to{
        transform: translateY(100px);
    }
}
